<div class="container">
    <div class="row">
        <div class="col-sm-12 py-3 jumbotron">
            <div class="py-3 text-center">
                <p class="lead">Enter Employee Details</p>
                <hr>
            </div>
            <div>
                <p class="alert alert-success" *ngIf="success">
                    <strong> {{successMsg}}</strong>

                </p>
                <p class="alert alert-danger" *ngIf="error">
                    <strong> {{errorMsg}}</strong>

                </p>
            </div>
            <form (ngSubmit)="onSubmit()" #myForm="ngForm">

                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="form-full-width">
                            <mat-label>Employee Name</mat-label>
                            <input matInput #name placeholder="Employee" required name="name" [(ngModel)]="user.name" readonly="{{ edit }}">
                            <mat-error *ngIf="!name.valid && !name.dirty">This Field is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="form-full-width">
                            <mat-label>Company Name</mat-label>
                            <input matInput placeholder="Company" required name="companyName" [(ngModel)]="user.companyName" readonly="{{ edit }}">
                            <mat-error>This Field is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="form-full-width">
                            <mat-label>Employee NRIC / FIN</mat-label>
                            <input matInput placeholder="Emp NRIC/FIN" required name="empNRIC" [(ngModel)]="user.empNRIC" readonly="{{ edit }}">
                            <mat-error>This Field is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="form-full-width">
                            <mat-label>NRIC / FIN</mat-label>
                            <input matInput placeholder="NRIC/FIN" required name="NRIC" [(ngModel)]="user.nric" readonly="{{ edit }}">
                            <mat-error>This Field is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="form-full-width">
                            <mat-label>Combine</mat-label>
                            <input matInput placeholder="Combine" required name="combine" [(ngModel)]="user.combine" readonly="{{ edit }}">
                            <mat-error>This Field is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="form-full-width">
                            <mat-label>Emp Termination Date</mat-label><!--  -->
                            <input [matDatepicker]="picker" #dat type="hidden" (dateInput)="getDate(dat.value)">
                            <input matInput name="terminationDate" [(ngModel)]="user.terminationDate" readonly="{{ edit }}" >
                            <mat-datepicker-toggle matSuffix [for]="picker" class="app-color"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="form-full-width">
                            <mat-label>Employee Email ID</mat-label>
                            <input matInput placeholder="Email"  name="email" [(ngModel)]="user.email">
                            
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="form-full-width">
                            <mat-label>Department</mat-label>
                            <input matInput placeholder="Department"  name="department" [(ngModel)]="user.department">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="form-full-width">
                            <mat-label>Section</mat-label>
                            <input matInput placeholder="Section" required name="section" [(ngModel)]="user.section" readonly="{{ edit }}">
                            <mat-error>This Field is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="form-full-width">
                            <mat-label>Designation</mat-label>
                            <input matInput placeholder="Designation" required name="designation" [(ngModel)]="user.designation">
                            <mat-error>This Field is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button mat-raised-button color="primary" type="button" class="px-md-5 mr-md-4 mr-2" (click)="myForm.resetForm()">Cancel</button>
                        <button mat-raised-button color="primary" class="px-md-5" type="submit" [disabled]="!myForm.valid">{{edit==true?'Update':'Save'}}</button>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>