<!--Main Navigation-->
<header class="text-center py-3 mb-2 c-head">
    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="btn-menu mt-2 mr-4"><mat-icon style="font-size: 30px; color:#fff;">menu</mat-icon></button>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/images/logo1.png" alt="" style="float: left;" width="80px" class="mr-4">
                <h1 class="font-weight-light text-white">Temperature Reading</h1>
                <!--  <p class="lead text-white" style="font-size: 26px;font-weight:normal;font-family:roboto">Temperature Reading</p> -->
                <p class="lead mb-4 text-white-50"> <small> Let's save you from the COVID</small></p>
            </div>
        </div>
    </div>
</header>
<!--Main Navigation-->
<!-- dropdown menu for user account -->
<mat-menu #userMenu="matMenu" >
    <button mat-menu-item (click)="goToLogin()" *ngIf="!isLoggedIn">
        <mat-icon style="color: #ebe3e3;">account_circle</mat-icon>
        <span>Login</span>
    </button>
    <!-- *ngIf="role=='Admin'" -->
    <button mat-menu-item *ngIf="getRole()=='Admin'" routerLink="/temperatures">
        <mat-icon style="color: #ebe3e3;">assignment</mat-icon>
        <span>View Readings</span>
    </button>
    <button mat-menu-item *ngIf="getRole()=='Admin'" routerLink="/users">
        <mat-icon style="color: #ebe3e3;">people</mat-icon>
        <span>View Employees</span>
    </button>
    <button mat-menu-item *ngIf="getRole()=='Admin'" routerLink="/add">
        <mat-icon style="color: #ebe3e3;">add_circle</mat-icon>
        <span>Add Employee</span>
    </button>
    <!--<button mat-menu-item>
        <mat-icon style="color: #ebe3e3;">notifications_off</mat-icon>
        <span>Disable alerts</span>
    </button>-->
    <button mat-menu-item (click)="logout()" *ngIf="isLoggedIn">
        <mat-icon style="color: #ebe3e3;">logout</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>