<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 text-center">
            <mdb-card class="mt-1 bg-color p-md-5">
                <mdb-card-body>
                <mdb-card-title>
                    <h5>Form Submitted Successfully</h5>
                </mdb-card-title>
                <mdb-card-text>Your Health details have been submitted successfully</mdb-card-text>
                <div class="mt-5">
                    <button type="button" mdbBtn color="secondary" mdbWavesEffect (click)="onAddNew()">Add Reading</button>
                    <button type="button" mdbBtn color="dark" mdbWavesEffect (click)="onClose()">Close</button>
                </div>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    
</div>

  
