<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p>
</ngx-spinner> --><!-- type = "square-jelly-box" -->
<div class="container" style="font-family: roboto;">
    <div class="row">
        <div class="col-sm-12">
           
            <!-- <button mat-raised-button color="accent">Accent</button> -->
            <!-- </div> -->
            <!-- Material form login -->
            <div class="card bg-light">

                <h2 class="card-header amy-crisp-gradient white-text text-center py-4">
                    <strong>Store Temperature</strong>
                </h2>
                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">
                   
                    <!-- Form -->
                    <form class="text-center" style="color: #757575;" #myForm="ngForm" (ngSubmit)="onSubmitForm(myForm)">
                        <div class="p-2 row">
                            <div class="form-group col-sm-6">
                                <label for="exampleFormControlSelect1">Name</label>
                                <input type="text" class="form-control"  name="username" readonly value="{{userdetails.name}}">

                            </div>
                            <div class="form-group col-sm-6">
                                <label for="exampleFormControlSelect1">Company</label>
                                <input type="text" class="form-control"  name="companyname" readonly value="{{userdetails.companyName}}">

                            </div>
                            <div class="form-group col-sm-6">
                                <label for="exampleFormControlSelect1">Project</label>
                                <input type="text" class="form-control"  name="companyname" readonly value="{{userdetails.department}}">

                            </div>
                            <div class="form-group col-sm-6">
                                <label for="exampleFormControlSelect1">Date</label>
                                <!--<div class="md-form">  -->
                                    <input type="date"  required #date="ngModel" #dateInput class="form-control" name="date" [(ngModel)]="temperature.date" readonly (change)="getDate(dateInput)">
                                    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="text-theme-6 mt-2">Date is required</div>

                                <!-- </div> -->
                            </div>
                        </div> <hr>
                        <div class="row" *ngIf="currentPanel=='step1' ">

                            <!--<div class="col-sm-6">
                                 <p class="lead"><label for="dateInput" class="">Date</label> </p>

                                <div class="md-form">
                                    <input type="date" [max]="maxDate | date:'yyyy-MM-dd'" required #date="ngModel" #dateInput class="form-control" name="date" [(ngModel)]="temperature.date" (change)="getDate(dateInput)">
                                    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="text-theme-6 mt-2">Date is required</div>

                                </div> 
                            </div>-->
                            <div class="col-sm-6">
                                <div class="jumbotron m-md-4">
                                    <p class="lead">Shift:
                                        <span>Mor 8:00 - 11:59 &nbsp; &nbsp;&nbsp; Eve 12:00 - 18:00</span>
                                    </p>
                                    <hr>
                                    <!-- Default unchecked -->
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" required id="morning" name="shift" #shift="ngModel" value="Morning" [(ngModel)]="temperature.shift">
                                        <label class="custom-control-label" for="morning">Morning</label>

                                    </div>

                                    <!-- Default checked -->
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" required id="evening" name="shift" #shift="ngModel" value="Evening" [(ngModel)]="temperature.shift">
                                        <label class="custom-control-label" for="evening">Evening</label>
                                        <div *ngIf="shift.invalid && (shift.dirty || shift.touched)" class="text-theme-6 mt-2">Shift is required</div>

                                    </div>
                                    <br><br>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="jumbotron m-md-4">
                                    <p class="lead mb-4">Do you have a thermometer reading? </p>

                                    <hr>
                                    <!-- Default unchecked -->
                                    <div class="custom-control custom-radio custom-control-inline" (click)="clearReading(true)">
                                        <input type="radio" class="custom-control-input" id="yes_reading" [checked]="options" />
                                        <label class="custom-control-label" for="yes_reading">Yes</label>
                                    </div>


                                    <!-- Default checked -->
                                    <div class="custom-control custom-radio custom-control-inline" (click)="clearReading(false)">
                                        <input type="radio" class="custom-control-input" id="no_reading" [checked]="!options" />
                                        <label class="custom-control-label" for="no_reading">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="jumbotron" *ngIf="currentPanel=='step2' ">
                            <div class="row" >

                                <div class="col-sm-6">
                                    <div class="jumbotron m-md-4">
                                        <p class="lead">Shift:
                                            <span>Mor 8:00 - 11:59 &nbsp; &nbsp;&nbsp; Eve 12:00 - 18:00</span>
                                        </p>
                                        <hr>
                                        <!-- Default unchecked -->
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" required id="morning" name="shift" #shift="ngModel" value="Morning" [(ngModel)]="temperature.shift">
                                            <label class="custom-control-label" for="morning">Morning</label>

                                        </div>

                                        <!-- Default checked -->
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" required id="evening" name="shift" #shift="ngModel" value="Evening" [(ngModel)]="temperature.shift">
                                            <label class="custom-control-label" for="evening">Evening</label>
                                            <div *ngIf="shift.invalid && (shift.dirty || shift.touched)" class="text-theme-6 mt-2">Shift is required</div>

                                        </div>
                                        <br><br>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="jumbotron m-md-4">
                                        <p class="lead">
                                            <span *ngIf="options">Enter Meter Reading </span>
                                            <span *ngIf="!options">Give declaration of temperature </span>
                                        </p>
                                        <hr>

                                        <div class="form-group" *ngIf="options && shift.valid"><!-- ^0[1-9]|[1-9]\d$ to accept only numbers-->
                                            <input type="number" class="form-control" required placeholder="Enter Meter Reading"
                                                    [(ngModel)]="temperature.reading" name="reading" #reading="ngModel" [min]="35.0" [max]="38.0"
                                                         pattern="" (input)="checkReading(reading,myForm)" step="0.1">

                                            <div *ngIf="reading.invalid && (reading.dirty || reading.touched)" class="text-theme-6 mt-2">Meter Reading is required</div>



                                        </div>
                                        <div *ngIf="!options">
                                            <!-- Default unchecked -->
                                            <div class="custom-control custom-radio">

                                                <input type="radio" class="custom-control-input" id="below" name="noReading" #no_reading="ngModel" required value="less" [(ngModel)]="temperature.noReading">
                                                <label class="custom-control-label" for="below">I declare my temperature is below 38.0 degree centigrade</label>
                                            </div>

                                            <!-- Default checked -->
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="above" name="noReading" #no_reading="ngModel" required value="greater" [(ngModel)]="temperature.noReading" (input)="showWarning()">
                                                <label class="custom-control-label" for="above">I declare my temperature is above 38.0 degree centigrade</label>

                                                <div *ngIf="no_reading.invalid && (no_reading.dirty || no_reading.touched)" class="text-theme-6 mt-2">Field is required</div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="jumbotron" *ngIf="currentPanel=='step3' ">
                            <div class="row p-md-4 ">
                                <div class="col-sm-7">
                                    <h4>Work Location</h4><hr>
                                    <p class="lead">Please choose from where you are working today</p>
                                </div>
                                <div class="col-sm-5 p-2" style="text-align: left;">
                                    <!-- Default unchecked -->
                                    <div class="custom-control custom-radio" ><!-- (change)="showLeaveType(false, false, false)" -->
                                        <input type="radio" class="custom-control-input" #work_location="ngModel" name="workLocation" [(ngModel)]="temperature.workLocation" id="onSite" value="onsite" mdbInput required (input)="showLeaveType($event,false)">
                                        <label class="custom-control-label" for="onSite">OnSite</label>
                                    </div>
                                    
                                    <!-- Default checked -->
                                    <div class="custom-control custom-radio" >
                                        <input type="radio" class="custom-control-input" #work_location="ngModel" name="workLocation" [(ngModel)]="temperature.workLocation" value="home" id="fromHome"  mdbInput required (input)="showLeaveType($event,false)">
                                        <label class="custom-control-label" for="fromHome">Work From Home</label>
                                    </div>
                                    <div class="custom-control custom-radio" >
                                        <input type="radio" class="custom-control-input" #work_location="ngModel" name="workLocation" [(ngModel)]="temperature.workLocation" value="hospital" id="fromHospital"   mdbInput required (input)="showLeaveType($event,true)">
                                        <label class="custom-control-label" for="fromHospital">In Hospital</label>
                                    </div>
                                    <div class="custom-control custom-radio" >
                                        <input type="radio" class="custom-control-input" #work_location="ngModel" name="workLocation" [(ngModel)]="temperature.workLocation" value="dormitory" id="fromDormitory"   mdbInput required (input)="showLeaveType($event,false)">
                                        <label class="custom-control-label" for="fromDormitory">Dormitory</label>
                                    </div>
                                    <div class="custom-control custom-radio" >
                                        <input type="radio" class="custom-control-input" #work_location="ngModel" name="workLocation" [(ngModel)]="temperature.workLocation" value="hotel" id="fromHostel"   mdbInput required (input)="showLeaveType($event,false)">
                                        <label class="custom-control-label" for="fromHostel">In Hotel assigned by MOH</label>
                                    </div>
                                    <div class="custom-control custom-radio" >
                                        <input type="radio" class="custom-control-input" #work_location="ngModel" name="workLocation" [(ngModel)]="temperature.workLocation" value="leave" id="onLeave"   mdbInput required (input)="showLeaveType($event,true)">
                                        <label class="custom-control-label" for="onLeave">I am at leave today</label>
                                    </div>
                                </div>

                                
                            </div>
                        </div>

                        
                        <div class="jumbotron" *ngIf="currentPanel=='step4' && onLeave==true ">
                            <div class="row mt-4 p-md-4">
                                <div class="col-sm-6">
                                    <h4>Leave Type</h4><hr>
                                    <p class="lead">Please specify the type of leave you are having today, if any. Leave blank if not applicable</p>
                                </div>
                                <div class="col-sm-6" style="text-align: left;">
                                    
                                    <!-- Default checked -->
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="normal" [(ngModel)]="temperature.leaveType"   id="mc_normal" name="leaveType"  mdbInput required (input)="checkLeaveType()">
                                        <label class="custom-control-label" for="mc_normal">MC - Normal Issued by GP</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="awaitingresult" [(ngModel)]="temperature.leaveType" id="mc_swab" name="leaveType"   mdbInput required (input)="checkLeaveType()">
                                        <label class="custom-control-label" for="mc_swab">MC - swab and awaiting result</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="company" [(ngModel)]="temperature.leaveType" id="Bycompany" name="leaveType"  mdbInput required (input)="checkLeaveType()">
                                        <label class="custom-control-label" for="Bycompany">Company / MOH instruction</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="stayhomenotification" [(ngModel)]="temperature.leaveType" id="shn" name="leaveType"  mdbInput required (input)="checkLeaveType()">
                                        <label class="custom-control-label" for="shn">Stay Home Notification (SHN)</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="quarantine" [(ngModel)]="temperature.leaveType" id="quar_order" name="leaveType" required mdbInput (input)="checkLeaveType()">
                                        <label class="custom-control-label" for="quar_order">Quarantine Order</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="home" [(ngModel)]="temperature.leaveType" id="homeLeave" name="leaveType"  mdbInput required (input)="checkLeaveType()">
                                        <label class="custom-control-label" for="homeLeave">Home Leave</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="maternity" [(ngModel)]="temperature.leaveType" id="maternity" name="leaveType" mdbInput required (input)="checkLeaveType()">
                                        <label class="custom-control-label" for="maternity">Maternity</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jumbotron" *ngIf="currentPanel=='step5' && inHospital == false">
                            <div class="row p-md-4 text-center p-1">
                                <p class="lead">Medical Declaration<br><hr>
                                <small> Please Indicate if you have any of the following symptoms, leave blank if not applicable:</small></p>
    
    
                                
                                <div class="p-md-2 ml-md-5">
                                    <!-- Default unchecked -->
                                    <div class="custom-control custom-radio custom-control-inline" >
                                        <input type="radio" class="custom-control-input" #Symptoms="ngModel" [(ngModel)]="temperature.symptoms" value="true" id="yes_symptoms" name="symptoms" required (input)="onFlu(myForm)"/>
                                        <label class="custom-control-label" for="yes_symptoms">Flu / Continuous dry cough / Fever / Tiredness / Difficulty breathing</label>
                                    </div>
    
                                    
                                    <!-- Default checked -->
                                    <div class="custom-control custom-radio custom-control-inline"  >
                                        <input type="radio" class="custom-control-input" #Symptoms="ngModel" [(ngModel)]="temperature.symptoms" value="false" id="no_symptoms" name="symptoms" required (input)="onNoFlu()"/>
                                        <label class="custom-control-label" for="no_symptoms">None of the above</label>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="jumbotron" *ngIf="currentPanel=='step6' && inHospital == false">
                            <div class="row mt-3 p-md-3 p-1" >
                                <div class="" style="font-size:medium;text-align: left;line-height: 1.4rem;">
                                    <p class="lead text-center">Self Declaration</p>
                                    In line with MOM's New Safety Measures released on 8th may 2020, it is compulsory for you to make the 
                                    declaration before being allowed to enter the premises.
                                    <p>
                                        Please take note that under the Infectious Diseases Act, it is an offence under the law for anyone
                                        to withhold or provide inaccurate information. Singapore authority views such actions seriously and
                                        will not hesitate to take appropriate action against the perpetrators.
                                    </p>
                                </div>
                                <div class="table-responsive" style="text-align: left;">
                                    <table class="table">
                                        <tr>
                                            <td> Are you currently not under a quarantine or isolation order, Stay-Home Notice, or been issued medical 
                                                certificates for respiratory symptoms?</td>
                                            <td>
                                                <div class="custom-control custom-radio custom-control-inline" (click)="ToggleDec1(true)">
                                                    <input type="radio" class="custom-control-input" id="yes"  value="true" name="quarantine" #quar="ngModel" [(ngModel)]="temperature.quarantine" mdbInput  required (input)="ToggleDec1(true)">
                                                    <label class="custom-control-label" for="yes">Yes</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline" (click)="ToggleDec1(false)">
                                                    <input type="radio" class="custom-control-input" id="no"  value="false" name="quarantine" #quar="ngModel" [(ngModel)]="temperature.quarantine"  mdbInput  required (input)="ToggleDec1(false)">
                                                    <label class="custom-control-label" for="no">No</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Have not had close contact with a confirmed COVID-19 case in the past 14 days?</td>
                                            <td>
                                                <div class="custom-control custom-radio custom-control-inline" (click)="ToggleDec2(true)">
                                                    <input type="radio" class="custom-control-input" id="yes_contact" value="false"  name="contacted" #Contact="ngModel" [(ngModel)]="temperature.contacted" mdbInput  required (input)="ToggleDec2(true)">
                                                    <label class="custom-control-label" for="yes_contact">Yes</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline" (click)="ToggleDec2(false)">
                                                    <input type="radio" class="custom-control-input" id="no_contact" value="true" name="contacted" #Contact="ngModel" [(ngModel)]="temperature.contacted"  mdbInput required (input)="ToggleDec2(false)">
                                                    <label class="custom-control-label" for="no_contact">No</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>Have you not travelled to other countries in the past 14 days.</td>
                                            <td> 
                                                <div class="custom-control custom-radio custom-control-inline" (click)="ToggleDec3(true)">
                                                    <input type="radio" class="custom-control-input" id="yes_travel" value="false" name="travelHistory" #Travel="ngModel" [(ngModel)]="temperature.travelHistory"  mdbInput  required (input)="ToggleDec3(true)">
                                                    <label class="custom-control-label" for="yes_travel">Yes</label>
                                                </div>

                                                <div class="custom-control custom-radio custom-control-inline" (click)="ToggleDec3(false)">
                                                    <input type="radio" class="custom-control-input" id="no_travel" value="true" name="travelHistory" #Travel="ngModel" [(ngModel)]="temperature.travelHistory"  mdbInput required (input)="ToggleDec3(false)">
                                                    <label class="custom-control-label" for="no_travel">No</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                
                            </div>
                        </div>

                        <div class="jumbotron" *ngIf="currentPanel=='step7' ">
                            <div class="row mt-4 text-center p-md-5 p-1" *ngIf="(dec1 && dec2 && dec3 && !hasFlu && !inHospital && !leaveToday)">
                                <p class="lead p-md-3" style="line-height: 1.8rem;" *ngIf="!isDormitory && !inHotel">
                                    You are required to use SafeEntry before being allowed to enter premises and 
                                    use TraceTogether app to reduce disease transmission.
                                </p>
                                <p class="lead p-md-3" style="line-height: 1.8rem;" *ngIf="isDormitory || inHotel">
                                    Use TraceTogether app to reduce disease transmission. 
                                    Maintain Social distance and use Mask
                                </p>
                                <p class="lead p-md-3">
                                    Thank you for your cooperation in this difficult period. Together we shall
                                    overcome COVID-19.
                                </p>
                                <!-- Submit button -->
                                <button class="btn btn-outline-secondary  btn-block my-5 waves-effect z-depth-0" type="submit" [disabled]="!myForm.valid">SUBMIT</button>
                            </div>
                            
                            <div class="row mt-4 text-center p-md-5 p-1" *ngIf="!dec1 || !dec2 || !dec3 || hasFlu || inHospital || leaveToday">
                                <div class="lead p-md-5 p-3 text-white bg-danger mat-elevation-z8" style="font-family: monospace;line-height: 2.3rem;">
                                    <p *ngIf="!inHospital && !leaveToday">You are not allowed to enter the workplace from now on and
                                    you must report this situation to your
                                    project supervisor immediately.
                                    </p>
                                    <p *ngIf="inHospital || leaveToday">
                                    You must report this situation to your
                                    project supervisor immediately.
                                    </p>
                                </div>
                                <p class="lead p-md-3 text-center">
                                I will abide by the instructions above. (Order Issued).
                                </p>
                                
                                <!-- Submit button -->
                                <button class="btn btn-outline-secondary  btn-block my-5 waves-effect z-depth-0" type="submit" [disabled]="!myForm.valid">AGREE & SUBMIT</button>
                            </div>
                        </div>
                        <div class="jumbotron p-md-5 mt-2 w-100 text-center ">

                            <span style="float: left; ">
                                <button type="button" class="btn btn-outline-dark px-md-4 px-3" (click)="onPrevious(panelIndex)" [disabled]="panelIndex <= 0">Previous</button>
                            </span>
                            <!-- <button type="submit" class="btn btn-outline-dark px-4 mr-4 " *ngIf="panelIndex+1 >= panels.length" [disabled]="!myForm.valid ">Submit</button> --><!-- || temperature.reading<35 -->
                            <button type="button" class="btn btn-outline-dark px-md-4 px-3" (click)="myForm.reset()">Cancel</button>
                            <button type="button" class="btn btn-outline-dark px-md-4 px-3" #nxt style="float: right;" (click)="onNext(panelIndex)" [disabled]="!myForm.valid || (panelIndex+1 >= panels.length) || (currentPanel == 'step7') ">Next</button>
    
                        </div>
                       

                        <!-- Submit button -->
                        <!-- <button class="btn btn-outline-secondary  btn-block my-4 waves-effect z-depth-0" type="submit" [disabled]="!myForm.valid">SUBMIT</button> -->

                    </form>
                </div>
                <!-- Material form login -->
            </div>
        </div>
    </div>